In [1]:
import pandas as pd

In [522]:
#original df (could not be imported into mqSQL)
df_old= pd.read_csv('/Users/ironhack/Desktop/test/Berlin_crimes.csv')
df_old

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2019,Reinickendorf,123012,Nord 2 - Waidmannslust/Wittenau/Lübars,34,19,372,85,123,1160,30,135,150,93,16,3,306,74,110,728
1196,2019,Reinickendorf,123021,MV 1 - Märkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986
1197,2019,Reinickendorf,123022,MV 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212
1198,2019,Reinickendorf,123043,West 3 - Borsigwalde/Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1199,2019,Reinickendorf,129900,"Bezirk (Rd), nicht zuzuordnen",3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21

In [524]:
# replacing Umlaute 
df_old['District'].replace({
    'Neukölln': 'Neukoelln',
    'Tiergarten Süd': 'Tiergarten Sued',
    'Treptow-Köpenick': 'Treptow-Koepenick'
}, inplace=True)

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4190/4126229556.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_old['District'].replace({

In [526]:
#manipulated dataset
df = pd.read_csv("/Users/ironhack/Desktop/test/new.csv")
df.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Sd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstrae Sd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

In [527]:
#replacing Umlaute
df['District'].replace({
    'Neukölln': 'Neukoelln',
    'Tiergarten Süd': 'Tiergarten Sued',
    'Treptow-Köpenick': 'Treptow-Koepenick'
}, inplace=True)

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4190/1881018426.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['District'].replace({

In [528]:
# splitting df 1. year
df.Year.value_counts()

Year
2012    150
2013    150
2014    150
2015    150
2016    150
2017    150
2018    150
2019    150
Name: count, dtype: int64

In [530]:
df_years = df[['Year']].drop_duplicates().reset_index(drop=True)
df_years

   Year
0  2012
1  2013
2  2014
3  2015
4  2016
5  2017
6  2018
7  2019

In [531]:
df_years = df[['Year']].drop_duplicates().reset_index(drop=True)
df_years['Year_ID'] = df_years.index + 1
df_years
#df_years.to_csv('years_table.csv', index=False)

   Year  Year_ID
0  2012        1
1  2013        2
2  2014        3
3  2015        4
4  2016        5
5  2017        6
6  2018        7
7  2019        8

In [532]:
# splitting df 2. district

df_districts = df[['District']].drop_duplicates().reset_index(drop=True)
df_districts['District_ID'] = df_districts.index + 1
df_districts
#df_districts.to_csv('districts_table.csv', index=False)

                      District  District_ID
0                        Mitte            1
1     Friedrichshain-Kreuzberg            2
2                       Pankow            3
3   Charlottenburg-Wilmersdorf            4
4                      Spandau            5
5          Steglitz-Zehlendorf            6
6          Tempelhof-Schneberg            7
7                      Neuklln            8
8              Treptow-Kpenick            9
9          Marzahn-Hellersdorf           10
10                 Lichtenberg           11
11               Reinickendorf           12

# skipping locations because we would have to change all the Umlaute (no time)
df_locations = df_old[['Location']].drop_duplicates().reset_index(drop=True)
df_locations['Location_ID'] = df_locations.index + 1
df_locations
#df_locations.to_csv('locations_table.csv', index=False)

In [533]:
# mapping year for 3. df
df['Year'] = df['Year'].map({2012:1,2013:2,2014:3,2015:4,2016:5,2017:6, 2018:7, 2019:8})

In [535]:
# mapping district for 3. df
df['District'] = df['District'].map({'Mitte':1, 'Friedrichshain-Kreuzberg':2,'Pankow':3,'Charlottenburg-Wilmersdorf':4,'Spandau':5, 'Steglitz-Zehlendorf':6, 'Tempelhof-Schneberg':7, 'Neuklln':8, 'Treptow-Kpenick':9, 'Marzahn-Hellersdorf': 10, 'Lichtenberg':11,'Reinickendorf':12})

In [536]:
df['District'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [537]:
df_districts = df_old[['District']].drop_duplicates().reset_index(drop=True)
df_districts['District_ID'] = df_districts.index + 1
df_districts
#df_districts.to_csv('districts_table.csv', index=False)

                      District  District_ID
0                        Mitte            1
1     Friedrichshain-Kreuzberg            2
2                       Pankow            3
3   Charlottenburg-Wilmersdorf            4
4                      Spandau            5
5          Steglitz-Zehlendorf            6
6         Tempelhof-Schöneberg            7
7                    Neukoelln            8
8            Treptow-Koepenick            9
9          Marzahn-Hellersdorf           10
10                 Lichtenberg           11
11               Reinickendorf           12

In [539]:
#renaiming columns for 3. df

df.rename(columns={
    'Year': 'Year_id',
    'District': 'District_id',
}, inplace=True)

In [541]:
df

,Year_id,District_id,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,1,1,10111,Tiergarten Sd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,1,1,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,1,1,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,1,1,10114,Brunnenstrae Sd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,1,1,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,8,12,123012,Nord 2 - Waidmannslust/Wittenau/Lbars,34,19,372,85,123,1160,30,135,150,93,16,3,306,74,110,728
1196,8,12,123021,MV 1 - Mrkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986
1197,8,12,123022,MV 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212
1198,8,12,123043,West 3 - Borsigwalde/Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1199,8,12,129900,"Bezirk (Rd), nicht zuzuordnen",3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21

In [545]:
df= df.reset_index()
df

,index,Year_id,District_id,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,...,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,0,1,1,10111,Tiergarten Sd,70,46,586,194,118,...,18,328,120,68,16,4,273,26,171,1032
1,1,1,1,10112,Regierungsviertel,65,29,474,123,142,...,10,307,170,37,10,4,380,124,98,870
2,2,1,1,10113,Alexanderplatz,242,136,1541,454,304,...,81,792,822,275,49,27,1538,522,435,3108
3,3,1,1,10114,Brunnenstrae Sd,52,25,254,60,66,...,86,192,396,131,14,5,428,122,213,752
4,4,1,1,10221,Moabit West,130,51,629,185,199,...,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,8,12,123012,Nord 2 - Waidmannslust/Wittenau/Lbars,34,19,372,85,123,...,30,135,150,93,16,3,306,74,110,728
1196,1196,8,12,123021,MV 1 - Mrkisches Viertel,42,22,491,123,187,...,51,224,76,40,39,19,286,11,73,986
1197,1197,8,12,123022,MV 2 - Rollbergsiedlung,6,4,84,19,34,...,13,36,18,34,5,2,156,56,21,212
1198,1198,8,12,123043,West 3 - Borsigwalde/Freie Scholle,8,4,95,18,43,...,21,96,69,38,6,1,79,8,31,218
1199,1199,8,12,129900,"Bezirk (Rd), nicht zuzuordnen",3,2,14,7,4,...,0,7,15,0,1,0,7,3,9,21

In [546]:
#don't need code
df_drop = df.drop(columns=['Code'])
df_drop

,index,Year_id,District_id,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,0,1,1,Tiergarten Sd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,1,1,1,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2,1,1,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,3,1,1,Brunnenstrae Sd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,4,1,1,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,8,12,Nord 2 - Waidmannslust/Wittenau/Lbars,34,19,372,85,123,1160,30,135,150,93,16,3,306,74,110,728
1196,1196,8,12,MV 1 - Mrkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986
1197,1197,8,12,MV 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212
1198,1198,8,12,West 3 - Borsigwalde/Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1199,1199,8,12,"Bezirk (Rd), nicht zuzuordnen",3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21

In [589]:
#df_drop.to_csv('crime_statistics3.csv', index=False)

In [ ]:
#df_years.to_csv('years_table.csv', index=False)
#df_districts.to_csv('districts_table.csv', index=False)
#df_drop.to_csv('crime_statistics3.csv', index=False)

In [17]:
# View Q2:
df_hotspots= pd.read_csv('/Users/ironhack/Documents/GitHub/ProjektCrime/hotspot3.csv', sep = ';')
df_hotspots

,location,total_robbery,total_street_robbery,total_injury,total_agg_assault,total_threat,total_theft,total_car,total_from_car,total_bike,total_bulgary,total_fire,total_arson,total_damage,total_graffiti,total_drugs
0,Alexanderplatz,1450,855,12330,3292,2666,86265,636,5733,7919,1673,338,131,9787,3047,5472
1,Tempelhofer Vorstadt,988,525,6855,2004,1979,46130,916,5219,8908,1764,353,146,7117,1788,2703
2,Frankfurter Allee Sd FK,1052,648,7357,2507,1326,34618,488,2580,5713,982,355,134,8908,2632,7206
3,Schneberg-Nord,1299,760,6165,1731,1894,39194,508,3546,4704,1574,275,116,5133,1062,2654
4,Wedding Zentrum,1045,560,8442,2430,2599,28317,411,4017,3066,1487,357,138,5825,1199,4601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Allende-Viertel,15,5,346,66,143,1769,117,236,324,41,23,11,444,77,45
146,"Malchow, Wartenberg und Falkenberg",14,6,214,40,94,1293,24,168,92,153,40,17,275,52,29
147,Schmckwitz/Karolinenhof/Rauchfangswerder,6,1,146,24,52,958,35,267,63,115,19,14,190,30,10
148,Mggelheim,5,3,155,26,97,764,43,219,91,71,31,28,273,41,27
149,Forst Grunewald,16,12,112,30,45,418,6,164,20,2,32,29,92,12,11

In [19]:
# View Q1:
df_district_and_crime= pd.read_csv('/Users/ironhack/Documents/GitHub/ProjektCrime/district_and_types.csv', sep = ';')
df_district_and_crime

,name,toal_robbery,total_street_robbery,total_injury,agg_assault,total_threat,total_theft,total_car,total_from_car,total_bike,total_bulgary,total_fire,total_arson,total_damage,total_grafitti,total_drugs
0,Mitte,7582.0,4225.0,59628.0,15730.0,17130.0,328450.0,4186.0,34665.0,33574.0,9915.0,2372.0,900.0,45457.0,10982.0,26445.0
1,Friedrichshain-Kreuzberg,6748.0,4310.0,37719.0,12220.0,9244.0,213388.0,3667.0,22486.0,32462.0,6605.0,2072.0,741.0,40089.0,10108.0,31683.0
2,Pankow,2581.0,1304.0,23057.0,5409.0,8165.0,167927.0,5732.0,22013.0,34665.0,7911.0,1654.0,661.0,33486.0,9701.0,4832.0
3,Charlottenburg-Wilmersdorf,4220.0,2039.0,31931.0,7797.0,11380.0,210033.0,5821.0,32476.0,26447.0,10606.0,1313.0,593.0,29329.0,6364.0,8425.0
4,Spandau,2314.0,1193.0,22670.0,5318.0,8378.0,89812.0,2590.0,13146.0,8555.0,4396.0,1348.0,544.0,20004.0,2796.0,4163.0
5,Steglitz-Zehlendorf,1624.0,794.0,13871.0,2720.0,6476.0,101487.0,3901.0,19679.0,16389.0,8247.0,1144.0,431.0,20879.0,5108.0,3116.0
6,Tempelhof-Schneberg,3525.0,1906.0,25880.0,5930.0,9872.0,153141.0,4281.0,23861.0,20791.0,7536.0,1665.0,602.0,27722.0,5723.0,8965.0
7,Neuklln,4659.0,2545.0,32239.0,9261.0,11477.0,161622.0,4083.0,25428.0,15568.0,8861.0,1903.0,854.0,32975.0,5321.0,12253.0
8,Treptow-Kpenick,1571.0,859.0,16893.0,3681.0,6080.0,90453.0,4241.0,15510.0,16758.0,4346.0,1274.0,592.0,21778.0,5576.0,3633.0
9,Marzahn-Hellersdorf,1981.0,1090.0,24198.0,4576.0,7330.0,76041.0,4500.0,13861.0,8295.0,3735.0,1651.0,532.0,22738.0,4714.0,3086.0
10,Lichtenberg,1890.0,1057.0,21001.0,4525.0,6431.0,99402.0,5251.0,17003.0,13868.0,4445.0,1439.0,572.0,22543.0,5046.0,3530.0
11,Reinickendorf,2385.0,1171.0,22514.0,5333.0,9137.0,99013.0,2754.0,18202.0,9876.0,6784.0,1354.0,516.0,20899.0,4022.0,7300.0

In [21]:
# View Q3:
df_crime_developement= pd.read_csv('/Users/ironhack/Documents/GitHub/ProjektCrime/crime_developement.csv', sep = ';')
df_crime_developement

,year,total_robbery,total_street_robbery,total_injury,total_agg_assault,total_threat,total_theft,total_car,total_from_car,total_bike,total_bulgary,total_fire,total_arson,total_damage,total_grafitti,total_drugs,total_crimes
0,2012,6283.0,2886.0,42153.0,11032.0,14196.0,207340.0,5732.0,30503.0,25836.0,12285.0,2514.0,904.0,48582.0,11070.0,11687.0,433003.0
1,2013,6088.0,3135.0,41461.0,10247.0,14333.0,220417.0,6628.0,35652.0,26389.0,11563.0,2561.0,972.0,43176.0,9573.0,12746.0,444941.0
2,2014,5583.0,3228.0,39190.0,9515.0,13733.0,229955.0,6629.0,36032.0,30434.0,12149.0,2322.0,908.0,40678.0,8166.0,12878.0,451400.0
3,2015,5318.0,2914.0,39312.0,9664.0,13260.0,251366.0,6649.0,34741.0,31937.0,11805.0,2103.0,834.0,39841.0,8471.0,15176.0,473391.0
4,2016,5046.0,2962.0,41339.0,10024.0,13557.0,251192.0,7305.0,34515.0,34136.0,11487.0,2529.0,1032.0,41768.0,9015.0,14407.0,480314.0
5,2017,4165.0,2324.0,42283.0,10608.0,13452.0,220220.0,6642.0,32308.0,30082.0,8572.0,2210.0,872.0,40985.0,10428.0,15503.0,440654.0
6,2018,4202.0,2417.0,42828.0,10656.0,13965.0,209957.0,5671.0,28677.0,29978.0,7568.0,2334.0,886.0,39883.0,9103.0,16700.0,424825.0
7,2019,4395.0,2627.0,43035.0,10754.0,14604.0,200322.0,5751.0,25902.0,28456.0,7958.0,2616.0,1130.0,42986.0,9635.0,18334.0,418505.0